@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  letter-spacing: 0.1rem;
}

header {
  display: grid;
  grid-template-columns: minmax(35rem, 1fr) minmax(35rem, 1fr);
  grid-template-rows: 5rem 30rem;
  grid-template-areas:
    "nav nav"
    "heroInfo heroImg";
}

header nav {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: lawngreen; */
  padding: 0 5rem;
}

header nav .nav-checkbox {
  display: none;
}

header nav .nav-toggle {
  display: none;
}

header .nav-bar {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
}

header .nav-bar a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
}

header .nav-bar a:hover {
  color: #ef4444;
}

header .nav-bar li:last-child a {
  background-color: #ef4444;
  padding: 0.8rem 1.5rem;
  border-radius: 0.2rem;
  box-shadow: 0 5px 5px #ddd;
  cursor: pointer;
  color: white;
}

header .nav-bar li:last-child a:hover {
  background-color: white;
  border: 0.1rem solid #ef4444;
  color: #ef4444;
}

header .hero-info {
  grid-area: heroInfo;
  display: flex;
  flex-direction: column;
  padding: 5rem;
  gap: 1rem;
  /* background-color: brown; */
}

.hero-info .hero-title {
  font-size: 2rem;
  font-weight: 600;
}

.hero-info > p {
  color: #999;
}

.hero-info .btn-group {
  display: flex;
}

.hero-info .btn-group a {
  background-color: #6366f1;
  padding: 1rem;
  margin-right: 1rem;
  border-radius: 0.2rem;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.8rem;
  box-shadow: 0 5px 5px #ddd;
}

.hero-info .btn-group a:last-child {
  background-color: #eee;
  color: black;
}

.hero-info .btn-group a:last-child:hover {
  background-color: white;
  border: 0.1rem solid #777;
  color: #777;
}

.hero-info .btn-group a:first-child:hover {
  background-color: white;
  border: 0.1rem solid #6366f1;
  color: #6366f1;
}

header .hero-img {
  grid-area: heroImg;
  position: relative;
  z-index: 0;
  /* background-color: aqua; */
}

header .hero-img svg {
  transform: scale(0.8);
  position: absolute;
  right: -1.5rem;
}

header .hero-img::after {
  content: "";
  height: 20rem;
  width: 25rem;
  background-color: #6366f1;
  display: block;
  border-top-left-radius: 10rem;
  border-bottom-left-radius: 10rem;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.features {
  display: grid;
  grid-template-columns: minmax(35rem, 1fr) minmax(35rem, 1fr);
  grid-template-rows: 10rem 5rem 30rem;
  grid-template-areas:
    "featureInfo featureInfo"
    "tab tab"
    "tabContentImg tabContentInfo";
  padding: 2rem 0 0 0;
}
.features .feature-info {
  grid-area: featureInfo;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  max-width: 30rem;
  margin: 0 auto;
}

.feature-info > div {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.feature-info > p {
  color: #999;
  text-align: center;
}

.features .tab {
  grid-area: tab;
  /* background-color: gray; */
  display: flex;
  align-items: center;
}

.tab ul {
  display: flex;
  list-style: none;
  justify-content: center;
  /* gap: 5rem; */
  border-bottom: 0.1rem solid #ddd;
  max-width: 50rem;
  margin: 0 auto;
  /* background-color: teal; */
  padding-bottom: 1rem;
}

.tab ul li {
  /* background-color: tomato; */
  padding: 0 3rem;
  color: #777;
  font-weight: 500;
  position: relative;
  display: flex;
  justify-content: center;
}

.tab ul li.active {
  color: #444;
}

.tab ul li.active::after {
  content: "";
  display: block;
  height: 0.2rem;
  width: 15rem;
  background-color: #ef4444;
  position: absolute;
  bottom: -1.1rem;
}

.tab ul li:hover {
  color: #ef4444;
  cursor: pointer;
}

.features .tab-content-img {
  grid-area: tabContentImg;
  position: relative;
  z-index: 0;
  /* background-color: hotpink; */
}

.features .tab-content-img svg {
  border-radius: 0.5rem;
  background-color: #ddd;
  position: absolute;
  left: 5rem;
  top: 4rem;
  transform: scale(0.8);
}

#search-img svg {
  top: 3rem;
  left: 5rem;
  transform: scale(0.8);
}

#share-img svg {
  top: 4rem;
  left: 5rem;
  transform: scale(0.9);
}

.features .tab-content-img::after {
  content: "";
  height: 20rem;
  width: 28rem;
  background-color: #6366f1;
  display: block;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.features .tab-content-info {
  grid-area: tabContentInfo;
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5rem;
  gap: 1rem;
}

.tab-content-info > div {
  font-size: 2rem;
  font-weight: 600;
}

.tab-content-info > p {
  color: #999;
}

.tab-content-info > a {
  background-color: #6366f1;
  padding: 1rem;
  text-decoration: none;
  border-radius: 0.2rem;
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
  box-shadow: 0 5px 5px #ddd;
}

.tab-content-info > a:hover {
  background-color: white;
  color: #6366f1;
  border: 0.1rem solid #6366f1;
}

.extensions {
  display: grid;
  grid-template-columns: 1fr 15rem 0.2fr 15rem 0.2fr 15rem 1fr;
  grid-template-rows: 15rem 25rem;
  grid-template-areas:
    ". info info info info info ."
    ". chrome . firefox . opera .";

  position: relative;
  /* background-color: pink; */
  min-width: 70rem;
}

.extension-info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 30rem;
  margin: 0 auto;
  /* background-color: purple; */
}
.extension-info > div {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.extension-info > p {
  color: #999;
  text-align: center;
}

.extension-chrome {
  grid-area: chrome;
  position: absolute;
  top: 0;
  /* background-color: red; */
}

.extension-firefox {
  grid-area: firefox;
  position: absolute;
  top: 2.5rem;
  /* background-color: blue; */
}

.extension-opera {
  grid-area: opera;
  position: absolute;
  bottom: 0;
  /* background-color: chartreuse; */
}

.extension {
  border-radius: 0.5rem;
  box-shadow: 0 10px 10px #ddd;
  height: 20rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.extension > div {
  font-weight: 600;
}

.extension > p {
  width: 100%;
  font-size: 0.8rem;
  border-bottom: 0.2rem dotted #ddd;
  padding-bottom: 2rem;
  text-align: center;
  color: #999;
}

.extension button {
  background-color: #6366f1;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  padding: 1rem;
  color: white;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  font-weight: 600;
  box-shadow: 0 5px 5px #ddd;
}

.extension button:hover {
  background-color: white;
  color: #6366f1;
  border: 0.1rem solid #6366f1;
}

.faq {
  /* background-color: green; */
  height: auto;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-width: 70rem;
}

.faq > div {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  /* background-color: blue; */
}

.faq > p {
  max-width: 30rem;
  text-align: center;
  /* background-color: blueviolet; */
  margin: 0 auto;
  color: #999;
}

.faq ul {
  /* background-color: brown; */
  max-width: 30rem;
  width: 100%;
  /* min-width: 23rem; */
}

.faq ul li {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  border-top: 1px solid #777;
  padding: 1rem 1rem 1rem 0;
  cursor: pointer;
}

.faq ul li:hover {
  color: #ef4444;
}

.faq ul li:last-child {
  border-bottom: 1px solid #777;
}

.faq > button {
  background-color: #6366f1;
  padding: 0.8rem 1rem;
  color: white;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  font-weight: 600;
  box-shadow: 0 5px 5px #ddd;
}

.faq > button:hover {
  color: #6366f1;
  background-color: white;
  border: 0.1rem solid #6366f1;
}

footer {
  background-color: #6366f1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 25rem;
  gap: 2rem;
  min-width: 70rem;
}

footer > p {
  font-size: 0.8rem;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

footer > div {
  font-size: 2rem;
  font-weight: 600;
  color: white;
  max-width: 30rem;
  text-align: center;
}

footer .contact {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  /* background-color: green; */
  width: 60rem;
}

footer .contact input {
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 0.3rem;
  width: 65%;
}

footer .contact input::placeholder {
  color: #999;
  letter-spacing: 0.1rem;
}

footer .contact input:focus {
  border: 0.1rem solid #ef4444;
}

footer .contact button {
  padding: 1rem 1.5rem;
  color: white;
  background-color: #ef4444;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

footer .contact button:hover {
  background-color: white;
  color: #ef4444;
  border: 0.1rem solid #ef4444;
}

footer nav {
  align-self: stretch;
  background-color: #312e81;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
}

footer nav .nav-group {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
}

footer nav .nav-group a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
}

footer nav .nav-group a:hover {
  color: #ef4444;
}

footer nav .nav-group .bookmark {
  fill: white;
}

footer nav .social-group {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
}

footer nav .social-group li:hover .facebook,
li:hover .twitter {
  fill: #ef4444;
}

[data-tab-content-img] {
  display: none;
}

.active[data-tab-content-img] {
  display: block;
}

[data-tab-content-info] {
  /* display: none; */
  visibility: hidden;
}

.active[data-tab-content-info] {
  /* display: flex; */
  visibility: visible;
}

@media only screen and (max-width: 750px) {
  header nav .nav-bar {
    display: none;
  }

  header nav .nav-toggle {
    display: block;
    cursor: pointer;
  }

  header nav .nav-toggle .close {
    display: none;
  }

  header nav .nav-toggle svg {
    width: 1.5rem;
  }

  .modal-container {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 100;
    flex-wrap: wrap;
  }

  .modal {
    fill: white;
  }

  header nav > div {
    padding-top: 2rem;
  }

  header nav .nav-toggle {
    padding-top: 2rem;
  }

  header nav .nav-checkbox:checked ~ .nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateY(-70%);
    z-index: 99;
    gap: 1rem;
  }

  header nav .nav-bar li:last-child a {
    box-shadow: none;
  }

  header nav .nav-bar li {
    width: 100%;
    border-top: 0.1rem solid #ddd;
    text-align: center;
    padding-top: 1rem;
  }

  header nav .nav-bar li a {
    color: white;
  }

  header nav .nav-bar li:last-child a {
    background-color: transparent;
    border: 0.1rem solid white;
    padding: 0.8rem 5rem;
  }

  header nav #nav-checkbox:checked ~ .nav-toggle .close {
    display: block;
  }

  header nav #nav-checkbox:checked ~ .nav-toggle .menu {
    display: none;
  }

  .dark {
    background-color: #777;
  }

  header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 30rem 20rem;
    grid-template-areas:
      "nav"
      "heroImg"
      "heroInfo";
  }

  header .hero-info {
    padding: 1rem 5rem;
  }

  header .hero-img svg {
    transform: scale(0.7);
    right: -3rem;
  }

  .hero-info .hero-title {
    font-size: 1.8rem;
    text-align: center;
  }

  .hero-info > p {
    text-align: center;
  }

  .hero-info .btn-group {
    justify-content: center;
  }

  .hero-info .btn-group a {
    letter-spacing: 0;
  }

  header .hero-img::after {
    height: 16rem;
    width: 24rem;
    bottom: 5rem;
  }

  .features {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10rem 15rem 30rem 20rem;
    grid-template-areas:
      "featureInfo"
      "tab"
      "tabContentImg"
      "tabContentInfo";
    padding: 2rem 0 0 0;
  }

  .features .tab {
    margin-top: 5rem;
  }

  .features .tab ul {
    flex-direction: column;
    border: none;
    width: 70%;
  }

  .features .tab ul li {
    border-top: 0.1rem solid #999;
    width: 100%;
    padding: 0.8rem;
    text-align: center;
    font-weight: 500;
  }

  .features .tab ul li:last-child {
    border-bottom: 0.1rem solid #999;
  }

  .tab ul li.active::after {
    bottom: -0.05rem;
    z-index: 50;
  }

  .features .tab-content-img svg {
    left: 1rem;
    top: 4rem;
    transform: scale(0.7);
  }

  #search-img svg {
    top: 2rem;
    left: 2rem;
    transform: scale(0.7);
  }

  #share-img svg {
    top: 2rem;
    left: 3rem;
    transform: scale(0.8);
  }

  .features .tab-content-img::after {
    height: 16rem;
    width: 25rem;
    bottom: 3rem;
    left: 0;
  }

  .features .tab-content-info {
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 5rem;
  }

  .tab-content-info > div {
    font-size: 1.8rem;
    text-align: center;
  }

  .tab-content-info > p {
    text-align: center;
  }

  .extensions {
    display: grid;
    grid-template-columns: 1fr 15rem 1fr;
    grid-template-rows: 15rem 25rem 25rem 25rem;
    grid-template-areas:
      "info info info"
      ". chrome ."
      ". firefox ."
      ". opera .";

    min-width: 0;
  }

  .extension-info > div {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
  }

  .extension-info > p {
    text-align: center;
  }

  .faq {
    min-width: 0;
  }

  footer {
    height: 45rem;
    min-width: 0;
  }

  footer > div {
    font-size: 1.8rem;
  }

  footer .contact {
    flex-direction: column;
  }

  footer nav {
    flex-direction: column;
    height: 20rem;
  }

  footer nav .nav-group {
    flex-direction: column;
  }
}

@media only screen and (max-width: 550px) {
  header nav {
    padding: 1rem 2rem;
  }
  header .hero-img svg {
    transform: scale(0.6);
    right: -7rem;
  }

  header .hero-img::after {
    height: 15rem;
    width: 20rem;
    bottom: 5rem;
  }

  header .hero-info .hero-title {
    font-size: 1.5rem;
  }

  header .hero-info p {
    font-size: 0.8rem;
  }

  header .hero-info .btn-group a {
    font-size: 0.6rem;
  }

  .features .feature-info {
    padding: 0 5rem;
  }

  .features .feature-info div {
    font-size: 1.5rem;
  }

  .features .feature-info p {
    font-size: 0.8rem;
  }

  .features .tab ul li {
    font-size: 0.8rem;
  }

  .features .tab-content-info > div {
    font-size: 1.5rem;
  }

  .features .tab-content-info > p {
    font-size: 0.8rem;
  }

  .features .tab-content-info > a {
    font-size: 0.6rem;
  }

  .features .tab-content-img svg {
    left: -3rem;
    top: 5rem;
    transform: scale(0.6);
  }

  #search-img svg {
    top: 2rem;
    left: -1rem;
    transform: scale(0.6);
  }

  #share-img svg {
    top: 3rem;
    left: 0;
    transform: scale(0.6);
  }

  .features .tab-content-img::after {
    height: 15rem;
    width: 20rem;
  }

  .extensions .extension-info {
    padding: 0 5rem;
  }

  .extensions .extension-info > div {
    font-size: 1.5rem;
  }

  .extensions .extension-info > p {
    font-size: 0.8rem;
  }

  .extensions .extension button {
    font-size: 0.6rem;
  }

  .faq > div {
    font-size: 1.5rem;
  }

  .faq > p {
    font-size: 0.8rem;
  }

  .faq > ul li {
    font-size: 0.8rem;
  }

  .faq > button {
    font-size: 0.6rem;
  }

  footer > p {
    font-size: 0.7rem;
  }

  footer > div {
    font-size: 1.5rem;
    padding: 0 2rem;
  }

  footer .contact input {
    font-size: 0.8rem;
  }

  footer .contact button {
    font-size: 0.6rem;
  }

  footer nav .nav-group li a {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 360px) {
  header {
    grid-template-rows: 5rem 15rem 2rem 20rem;
    grid-template-areas:
      "nav"
      "heroImg"
      "."
      "heroInfo";
  }
  header nav {
    padding: 1rem;
  }

  header .hero-info {
    padding: 1rem;
  }

  header .hero-info .btn-group a {
    padding: 0.8rem;
  }

  header .hero-img svg {
    transform: scale(0.4);
    right: -12rem;
    top: -6rem;
  }

  header .hero-img::after {
    height: 10rem;
    width: 13rem;
    bottom: 0;
  }

  .features .feature-info {
    padding: 1rem;
  }

  .features .tab-content-img {
    position: relative;
  }

  .features .tab-content-img svg {
    position: absolute;
    left: -8rem;
    top: -2rem;
    transform: scale(0.4);
  }

  #search-img svg {
    top: -3rem;
    left: -6rem;
    transform: scale(0.4);
  }

  #share-img svg {
    top: -2rem;
    left: -5rem;
    transform: scale(0.4);
  }

  .features .tab-content-img::after {
    height: 10rem;
    width: 13rem;
  }

  .tab ul li.active {
    color: #444;
  }

  .tab ul li.active::after {
    width: 10rem;
    bottom: 0;
  }

  .faq {
    padding: 2rem;
  }

  .extensions .extension-info {
    padding: 2rem;
  }

  .features {
    grid-template-rows: 12rem 12rem 20rem 20rem;
    padding: 2rem 0 0 0;
  }

  .features .feature-info > div {
    margin-bottom: 1rem;
  }

  .features .tab {
    margin-top: 1rem;
  }

  .features .tab-content-info {
    padding: 2rem;
  }
}
